* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background: #c0c0c0;
}

.konten {
	background: #ffffff;
	width: 350px;
	margin: 222px auto 0;
	border-radius: 15px;
	min-height: 256px;
	overflow: hidden;
}

.kepala {
	background: #1a1aff;
	padding: 10px 22px;
}

.kepala .judul {
	color: #fff;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
}

.artikel {
	padding: 10px 22px 0;
	color: #808080;
}

.artikel .grup {
	margin: 16px 0;
}

.artikel .grup label,
.artikel .grup input {
	display: block;
}

.artikel .grup label {
	font-size: 13px;
	margin-bottom: 10px;
}

.artikel .grup input[type="text"],
.artikel .grup input[type="password"] {
	width: 100%;
	height: 40px;
	padding: 0 10px;
	background: #eeeeee;
	border: none;
	color: #808080;
}

.artikel .grup input[type="submit"] {
	background: #33cd77;
	padding: 4px 16px;
	margin: 0 auto;
	border: 1px solid #33cd77;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}

.artikel .grup input[type="submit"]:hover {
	background: #28a45e;
}